<%- include('../../views/partials/navbar') %>

<div class="products">
    
<% product.forEach((product, index) => { %>
    <div class="card">
        <div class="card-img">
            <img src="<%= product.image_link %>" class="card-img-top" alt="<%= product.name %>">
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <a href="/product/<%= product.id %>" class="card-btn btn">See More</a>
        </div>
    </div>
<% }) %>

</div>
