<%- include('../../views/partials/navbar') %>

<div class="results">
    
<% product.forEach((product, index) => { %>
    <div class="results-card">
        <div class="img-div">
            <img src="<%= product.image_link %>" class="results-img" alt="<%= product.name %>">
        </div>
        <div class="results-body">
            <h5 class="results-title"><%= product.name %></h5>
            <a href="/product/<%= product.id %>" class="results-btn btn">deetz</a>
        </div>
    </div>
<% }) %>

</div>
